@charset "utf-8";

body{
    padding-left: 20px;
}

body *{
    line-height: 1.5em;
}

h1>span{
    font-size: 16px;
    font-weight: normal;
    color: red;
}

ul{
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: royalblue;
}

ul>li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    border-bottom: 3px solid orange;
}

p>span{
    font-size: 1.2em;
}

table{
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 100px;
    border-top: 1px solid #333;
}

table td{
    padding: 10px;
    border: 1px solid #ccc;
}

.name{
    font-weight: bold;
}

table th{
    padding: 10px;
    border-left: 1px solid #ccc;
}

table tr:nth-child(1){
    background-color: #eee;
    border: 1px solid #ccc;
    border-top: 1px solid #333;
}

table a{
    text-decoration: underline;
}